
<div class='maxwidth'>

  {% if tag.description.value %}
    <div class='descr mt-3 mb-3'>
      {{ tag.description.value | raw }}
    </div>
  {% endif %}

  {% if features %}
    <label>Features</label>
    <div class='row'>
      {% for item in features %}
        <div class='col-md-3'>
          {{ drupal_entity('node', item.nid.value, 'teaser') }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

  {% if newsitems %}
    <label>Newsfeed</label>
    <div class='row'>
      {% for item in newsitems %}
        <div class='col-md-3'>
          {{ drupal_entity('node', item.nid.value, 'teaser') }}
        </div>
      {% endfor %}
    </div>
  {% endif %}

</div>
