
<div class='maxwidth'>

  <p>variable1: <b>{{ variable1.name.value }}</b></p>
  <p>variable2: {{ variable2 }}</p>
  <p>variable3:</p>

  <ul>
    {% for item in variable3 %}
      <li>
        {{ item }}
      </li>
    {% endfor %}
  </ul>

</div>
